.feedback-display-dropdown {
  width: 150px;
  .MuiSelect-root {
    box-sizing: border-box;
    height: 25px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: 500;
  }
}
