.goto-action-wrapper {
  margin-top: 12px;
  width: 100%;
  .MuiFormControl-root {
    width: 100%;
  }
  .structure-select,
  .goto-actions-dropdown {
    width: 100%;
    .BlmSelect-select,
    .MuiSelect-root {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 40px;
      font-weight: 500;
      font-size: 16px;
      color: #3a3e42;
      border: 1px solid #d5dff7;
      background-color: #ffffff;
      ~ .BlmSelect-icon,
      ~ .MuiSelect-icon {
        margin-right: 7px;
        background: url("~assets/images/forms/dropdown-arrow-2.png") no-repeat center;
      }
      .MuiListItemText-root {
        .MuiTypography-root {
          font-weight: 500;
        }
      }
    }
  }
  .structure-select {
    margin-top: 12px;
  }
}
.goto-actions-dropdown-popover {
  .MuiMenu-paper {
    padding: 15px 0;
    scrollbar-width: thin;
    .goto-dropdown-menu-title {
      margin: 0 15px 10px 15px;
      font-weight: 500;
      font-size: 12px;
      color: #3484e7;
      text-transform: uppercase;
    }
    .MuiMenuItem-root {
      padding: 2px 20px;
      &.Mui-selected {
        background-color: #99b6fd;
      }
    }
    .MuiDivider-root {
      margin: 15px;
      background-color: #eaeef9;
    }
  }
}
.goto-actions-dropdown,
.goto-actions-dropdown-popover .MuiList-root {
  .MuiListItemText-root {
    margin: 0;
    .MuiTypography-root {
      font-weight: bold;
      font-size: 16px;
      color: #3a3e42;
    }
  }
  .MuiListItemIcon-root {
    margin-right: 10px;
    min-width: 20px;
    height: 15px;
    margin-left: -8px;
    &.previous {
      background: url("~assets/images/content-actions/goto/prev.png") no-repeat center;
    }
    &.next {
      background: url("~assets/images/content-actions/goto/next.png") no-repeat center;
    }
    &.home {
      background: url("~assets/images/content-actions/goto/home.png") no-repeat center;
    }
    &.courseelement {
      background: url("~assets/images/content-actions/goto/page.png") no-repeat center;
    }
    &.previouspartpage {
      background: url("~assets/images/content-actions/goto/prev-partpage.png") no-repeat center;
    }
    &.nextpartpage {
      background: url("~assets/images/content-actions/goto/next-partpage.png") no-repeat center;
    }
    &.previousanchor {
      background: url("~assets/images/content-actions/goto/prev-anchor.png") no-repeat center;
    }
    &.nextanchor {
      background: url("~assets/images/content-actions/goto/next-anchor.png") no-repeat center;
    }
    &.top {
      background: url("~assets/images/content-actions/goto/top.png") no-repeat center;
    }
    &.redoeval {
      background: url("~assets/images/content-actions/goto/redo-evaluation.png") no-repeat center;
    }
  }
}
