.style-picker-item-wrapper {
  position: relative;
  cursor: pointer;
  width: 182px;
  height: 130px;
  img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    &:last-child {
      visibility: hidden;
    }
    &:first-child {
      visibility: visible;
    }
  }
  &.selected {
    border: 4px solid #6488ef;
  }
  &.has-over:hover {
    img {
      &:first-child {
        visibility: hidden;
      }
      &:last-child {
        visibility: visible;
      }
    }
  }
}
