.media-format-wrapper {
  position: absolute;
  top: 17px;
  right: 36px;
  display: inline-grid;
  column-gap: 17px;
  row-gap: 2px;
  font-weight: 500;
  font-size: 14px;
  color: #2b2b2b;
  text-transform: uppercase;
  > span {
    grid-row: 1/2;
    margin-left: 3px;
  }
  .subscript-input-container {
    align-self: center;
    padding: 3px 11px;
    width: 74px;
    background-color: #dee6fa;
    .subscript-input {
      padding: 0;
      font-weight: 500;
      font-size: 16px;
      color: #262626;
    }
    .subscript-lbl {
      margin: 0 0 0 5px;
      font-weight: 100;
      font-size: 14px;
      text-transform: none;
      color: #262626;
    }
  }
  .media-format-dropdown {
    margin: 0;
    width: 160px;
    height: 29px;
    box-shadow: 2px 2px 7px 0px rgba(27, 54, 94, 0.14);
    .MuiSelect-root {
      display: flex;
      align-items: center;
      padding: 4px 24px 4px 16px;
      height: 100%;

      box-sizing: border-box;
      border: none;
      background-color: #ffffff;
      .MuiListItemText-root {
        margin: 4px 0;
        .MuiTypography-root {
          font-weight: 500;
          font-size: 12px;
          color: #2b2b2b;
          text-transform: uppercase;
        }
      }
      .MuiListItemIcon-root {
        display: none;
      }
    }
  }
}
.button-media-format-wrapper {
  position: relative;
  top: -52px;
  left: 500px;
}
.button-media-width-format {
  position: relative;
  top: -52px;
  left: 410px;
}
.media-format-dropdown-menu {
  .MuiPaper-root {
    scrollbar-width: thin;
  }
  .MuiListItem-root {
    padding: 0 6px 0 15px;
    .MuiListItemText-root {
      margin: 5px 0;
      .MuiTypography-root {
        font-weight: 500;
        font-size: 12px;
        color: #2b2b2b;
        text-transform: uppercase;
      }
    }
    .MuiListItemIcon-root {
      min-width: auto;
    }
  }
  .MuiDivider-root {
    margin: 10px 15px;
    width: 62px;
    background-color: #d8e5f8;
  }
}
