.content-media-custom-wrapper {
  padding: 33px 0 0 5px;
  color: #2b2b2b;
  .custom-params-title {
    grid-column: 1/-1;
    margin: 0 30px 21px 0;
    padding-bottom: 3px;
    font-weight: 100;
    font-size: 28px;
    text-transform: uppercase;
    border-bottom: 1px solid #d2d5da;
  }
}
