.animation-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  grid-template-rows: repeat(3, 37px);
  row-gap: 7px;
  color: #2b2b2b;
  .animation-media-picker {
    grid-row: 1/4;
    margin: -1px 9px 0 1px;
    width: 122px;
    height: 102px;
  }
  .animation-preview-btn,
  .animation-translate-btn,
  .animation-options-btn {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    width: 115px;
    font-weight: bold;
    font-size: 16px;
    color: #3a3e42;
    text-transform: uppercase;
    background-color: #e7edfb;
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .animation-attachments-wrapper {
    grid-column: 1/-1;
    margin-top: 42px;
    .animation-attachments-title {
      margin: 0 27px 11px 1px;
      padding-bottom: 4px;
      font-weight: 100;
      font-size: 28px;
      text-transform: uppercase;
      border-bottom: 1px solid #d2d5da;
    }
    .animation-attachments-lbl {
      margin: 0 0 30px 1px;
      font-weight: 500;
      font-size: 15px;
      color: #3a3e42;
    }
  }
}
