.replace-background-action-wrapper {
  margin-top: 15px;
  .replace-background-picker {
    width: 116px;
    height: 96px;
    border: none;
    .media-browse-wrapper {
      .browse-placeholder {
        display: none;
      }
    }
    .media-preview-wrapper {
      .media-name {
        display: block;
        position: absolute;
        margin: 0;
        top: 0px;
        right: calc(-100% - 12px);
        font-size: 15px;
        font-weight: 500;
        color: #2b2b2b;
        text-transform: capitalize;
      }
    }
  }
  .restore-box {
    margin-top: 8px;
    .restore-check-box-label {
      margin-left: 6px;
    }
  }
}
