.waveform-wrapper {
  position: relative;
  height: 180px;
  border-top: 1px solid #b9d0f1;
  &::before {
    position: absolute;
    content: " ";
    inset: 0 0 auto 0;
    height: 38px;
    background: url("~assets/images/media-editor/grid-bg.png") #f6feff;
  }
  &.loading,
  &.loading * {
    cursor: wait !important;
  }
  .waveform-container {
    position: absolute;
    inset: 0 13px;
    .wavetimeline {
      position: absolute;
      pointer-events: none;
      user-select: none;
      z-index: 3;
      inset: 0;
    }
    .waveform {
      position: absolute;
      pointer-events: none;
      user-select: none;
      overflow: hidden;
      inset: 0;
    }
  }
}
